@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base{
    @font-face {
      font-family: "kanit";
      font-style: normal;
      font-weight: 900;
      src: url('../../public/fonts/Kanit/Kanit-ExtraBold.ttf') format('truetype');
    }
    
    @font-face {
      font-family: "kanit";
      font-style: normal;
      font-weight: 900;
      src: url('../../public/fonts/Kanit/Kanit-Black.ttf') format('truetype');
    }

    @font-face {
      font-family: "kanit";
      src: url('../../public/fonts/Kanit/Kanit-Black.ttf') format('truetype');
      font-weight: 900;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
    font-weight: 700;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-Medium.ttf') format('truetype');
    font-weight: 500;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: 400;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-Light.ttf') format('truetype');
    font-weight: 300;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-Thin.ttf') format('truetype');
    font-weight: 100;
    }
    @font-face {
    font-family: "kanit";
    src: url('../../public/fonts/Kanit/Kanit-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    }    

    .clippy-test{
      clip-path: polygon(100% 0%, 0% 0% , 0.00% 83.08%, 1.05% 83.14%, 2.11% 83.32%, 3.16% 83.60%, 4.21% 84.00%, 5.26% 84.50%, 6.32% 85.10%, 7.37% 85.78%, 8.42% 86.54%, 9.47% 87.37%, 10.53% 88.26%, 11.58% 89.19%, 12.63% 90.15%, 13.68% 91.13%, 14.74% 92.11%, 15.79% 93.07%, 16.84% 94.02%, 17.89% 94.92%, 18.95% 95.77%, 20.00% 96.57%, 21.05% 97.28%, 22.11% 97.91%, 23.16% 98.45%, 24.21% 98.89%, 25.26% 99.22%, 26.32% 99.44%, 27.37% 99.54%, 28.42% 99.53%, 29.47% 99.40%, 30.53% 99.16%, 31.58% 98.80%, 32.63% 98.34%, 33.68% 97.78%, 34.74% 97.13%, 35.79% 96.40%, 36.84% 95.59%, 37.89% 94.72%, 38.95% 93.81%, 40.00% 92.86%, 41.05% 91.89%, 42.11% 90.91%, 43.16% 89.94%, 44.21% 88.98%, 45.26% 88.06%, 46.32% 87.18%, 47.37% 86.37%, 48.42% 85.62%, 49.47% 84.96%, 50.53% 84.38%, 51.58% 83.90%, 52.63% 83.53%, 53.68% 83.27%, 54.74% 83.12%, 55.79% 83.09%, 56.84% 83.17%, 57.89% 83.37%, 58.95% 83.68%, 60.00% 84.10%, 61.05% 84.62%, 62.11% 85.24%, 63.16% 85.94%, 64.21% 86.72%, 65.26% 87.57%, 66.32% 88.46%, 67.37% 89.40%, 68.42% 90.37%, 69.47% 91.34%, 70.53% 92.32%, 71.58% 93.29%, 72.63% 94.22%, 73.68% 95.12%, 74.74% 95.96%, 75.79% 96.73%, 76.84% 97.43%, 77.89% 98.04%, 78.95% 98.56%, 80.00% 98.97%, 81.05% 99.28%, 82.11% 99.47%, 83.16% 99.55%, 84.21% 99.51%, 85.26% 99.36%, 86.32% 99.09%, 87.37% 98.71%, 88.42% 98.23%, 89.47% 97.64%, 90.53% 96.97%, 91.58% 96.22%, 92.63% 95.40%, 93.68% 94.52%, 94.74% 93.60%, 95.79% 92.65%, 96.84% 91.67%, 97.89% 90.69%, 98.95% 89.72%, 100.00% 88.77%);
    }
}
